//Import
@import "../bs_scss/bootstrap.scss";


//maps
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

//Variables
$primary: firebrick;
$anchobc: 650px;

/*ARRANCA EL PROYECTO ACA*/

* {
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Montserrat', sans-serif !important;
}
body {
	font-family: var(--bs-body-font-family);
	font-family: 'Montserrat', sans-serif !important;
}
body::-webkit-scrollbar{
	width: 8px;
}
body::-webkit-scrollbar-thumb{
	background-color: gray;
	border-radius: 5px;
}
.carousel {
	z-index: 1000;
}
header {
	width: 100%;
	height: 150px;
	background-color: #332d2d;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	p {
		font-size: 18px;
		margin-left: auto;
		margin-right: 20px;
		margin-top: 40px;
		a {
			margin-right: 20px;
			margin-left: auto;
			color: white;
		}
	}
}
h1 {
	height: 50px;
	color: white;
	font-size: 40px;
	margin-top: 45px;
	margin-left: 5px;
	margin-bottom: 35px;
	font-weight: 500;
	font-weight: bold !important;
}
.h1Camisetas {
	text-decoration: none;
}
.logo {
	width: 200px;
	height: 200px;
}
.scale-dos {
	&:hover {
		transform: scale(1.1,1.1);
	}
}
nav {
	height: 50px;
	background-color: $primary;
}


.submenu {
	ul {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin-left: 50px;
			list-style-type: none;
			font-size: 20px;
			a {
				text-decoration: none;
				color: rgb(255, 255, 255);
				font-size: 20px;
				font-weight: bold;
				z-index: 1001;
				&:hover {
					color: rgb(51, 45, 45);
				}
			}
		}
		ul {
			position: absolute;
			display: none;
			li {
				display: block;
				a {
					&:hover {
						color: rgb(238, 194, 201);
					}
				}
			}
		}
	}
	li {
		&:hover {
			ul {
				display: block;
				background-color: $primary;
				color: black;
				height: auto;
				padding: 10px;
				border: solid black 2px;
				text-align: center;
				z-index: 1001;
			}
		}
	}
}

.mainQuienes {
	width: 100%;
	display: flex;
}
.quienesSomos {
	width: 50%;
	height: 600px;
	background-color: rgb(255, 255, 255);
	border-right: solid firebrick 4px;
}
.conocenos {
	text-align: center;
	margin-top: 30px;
	font-size: 50px;
	color: firebrick;
}
.titulos {
	margin-left: 45px;
	margin-top: 30px;
	font-size: 30px;
}
.nosDefine {
	margin-top: 30px;
	margin-left: 15px;
	font-size: 20px;
	text-align: left;
	li {
		margin-left: 30px;
		margin-top: 40px;
	}
}
.fundador {
	width: 50%;
	height: 600px;
	background-color: rgb(255, 255, 255);
	border-left: solid firebrick 4px;
}
.tituloFundador {
	text-align: center;
	margin-top: 30px;
	font-size: 50px;
	color: firebrick;
}
.fotoCv {
	margin-left: 31%;
	margin-top: 20px;
	width: 360px;
	height: 260px;
}
.cv {
	margin-top: 30px;
	font-size: 30px;
	margin-left: 30px;
}
.nosDefineClub {
	margin-top: 30px;
	margin-left: 50px;
	font-size: 20px;
	ul {
		li {
			margin-left: 25px;
		}
	}
}

/*main productos*/

/*Filtros*/


.mainProductos {
	width: 100%;
	display: flex;
}
.filtros {
	width: 22%;
	height: auto;
	background-image: linear-gradient(to bottom, firebrick, rgb(51, 45, 45));
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.filtrosP {
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 20px;
	color: white;
	font-weight: bold;
	text-align: center;
}
.talles {
	font-size: 27px;
	color: white;
	margin-left: 20px;
	margin-bottom: 20px;
	ul {
		li {
			font-size: 18px;
			margin-top: 15px;
			margin-left: 20px;
			margin-top: 10px;
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}
.equipos {
	font-size: 27px;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	ul {
		li {
			font-size: 20px;
			margin-top: 15px;
			margin-left: 20px;
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
}
.remerasFutbol {
	width: 85%;
	background-color: rgb(255, 255, 255);
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 20px;
	p {
		font-size: 50px;
		text-align: left;
		color: black;
		font-weight: bold;
		margin-left: 150px;
	}
}
.scale-uno {
	&:hover {
		transform: scale(1.2,1.2);
	}
}
.remerasFutbol1 {
	a {
		img {
			width: 300px;
			height: 300px;
			margin-top: 50px;
			margin-left: 150px;
			border: 2px solid black;
		}
	}
}
.remerasFutbol2 {
	a {
		img {
			width: 300px;
			height: 300px;
			margin-top: 50px;
			margin-left: 150px;
			border: 2px solid black;
		}
	}
}
.remerasFutbol3 {
	a {
		img {
			width: 300px;
			height: 300px;
			margin-top: 50px;
			margin-left: 150px;
			border: 2px solid black;
		}
	}
}
.pagination{
    margin-top: 50px;
    margin-left: 1075px;
}
.page-link{
    color: #0d6efd;
    color:firebrick !important;
    font-weight: bold;
}
/*Main index*/


.mainIndex {
	display: grid;
	grid-template-areas: "portada portada" "section1 section1" "section2 section2" "video1 video2" "section3 section3";
}
.portada {
	grid-area: portada;
	width: 100%;
	height: auto;
}
.tamañoImg {
	width: 500px;
	height: 500px;
}
.section1 {
	grid-area: section1;
	text-align: center;
	width: 85%;
	margin: 20px;
	margin-top: 80px;
	margin-left: 150px;
	.camisetas1 {
		font-size: 30px;
		font-weight: bold;
		color: firebrick;
		margin-bottom: 80px;
	}
	ul {
		li {
			display: inline;
			list-style-type: none;
			text-decoration: none;
			img {
				width: 120px;
				height: 120px;
				margin-left: 30px;
				margin-bottom: 100px;
			}
		}
	}
}
.section2 {
	grid-area: section2;
	border: solid black 1px;
	margin-left: 6px;
	margin-right: 6px;
	a {
		img {
			width: 220px;
			height: 220px;
			margin: 6px;
			border-left: solid black 1px;
		}
	}
}
.lasMasBuscadas {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.section3 {
	grid-area: section3;
	font-size: 30px;
	text-align: center;
	width: 85%;
	margin-left: 150px;
	.beneficios {
		font-size: 40px;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 50px;
	}
	ul {
		li {
			display: inline;
			font-size: 25px;
			font-weight: bold;
			list-style-type: none;
			margin-left: 70px;
			color: firebrick;
		}
	}
}
.video1 {
	grid-area: video1;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	video {
		width: 600px;
		height: 400px;
	}
}
.video2 {
	grid-area: video2;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	video {
		width: 600px;
		height: 400px;
	}
}
/*seccion contacto*/
.textoRaro {
	font-size: 35px;
	color:gray;
	margin: 40px 30px 30px;
	text-align: center;	
}
.equipoClub{
	font-size: 35px;
	font-weight: bold;
	color: gray;
	margin-bottom: 140px;
	text-align: center;
}
.grid-contacto{
	display: grid;
	grid-template-areas: "contacto2 fotoSection " 
	"contacto2 fotoSection" 
	"contacto2 fotoSection";
	
	.contacto2{
		grid-area: contacto2;
		color: white;
		background-color: rgb(59, 54, 54);
		border: solid black 2px;
		height: auto;
		margin-left: 30px;

		.fotoSection{
			grid-area:fotoSection;
			height: auto;
		}
}
}
.messiSection{
	margin-right: 20px;
}
.correoElect{
	color: white;
	color: rgb(51, 45, 45) !important;
	margin-top: 25px;
}
.uniteRecibi{
	color: white;
	font-size: 38px;
	text-align: center;
	margin-top:35px;
	margin-bottom: 18px;

}
.fechaNacimiento{
	font-size: 28px;
	font-size: 28px;
	margin-top: 25px;
	margin-left: 105px;
}
.cumple{
	font-size: 26px;
	margin-top: 25px;
	margin-left: 105px;
}
.sexo{
	font-size: 28px;
	font-size: 28px;
	margin-top: 25px;
	margin-left: 105px;
}
.radioSexo{
	font-size: 25px;
	margin-top: 25px;
	margin-left: 105px;
}
.radioRecibir{
	font-size: 25px;
	margin-top: 25px;
	margin-left: 105px;
}
.botonSuscrib{
	margin-top: 35px ;
	text-align: center;
}


.alHacer{
	font-size: 18px;
	margin-top: 25px;
	margin-left: 105px;
}


/*main redes-sociales*/


.mainRedes-Sociales {
	display: grid;
	grid-template-areas: "parrafoR parrafoR" "iconosRedes iconosRedes""suscripcion suscripcion";
	margin-top: 50px;
	margin-left: 20px;
}
.parrafoR {
	grid-area: parrafoR;
	margin-bottom: 20px;
	.seguinos {
		font-size: 25px;
		margin-bottom: 8px;
	}
	.confianza {
		font-size: 20px;
	}
}
.iconosRedes {
	grid-area: iconosRedes;
	text-align: center;
	ul {
		li {
			display: inline;
			list-style-type: none;
			img {
				margin-top: 100px;
				margin-left: 50px;
			}
		}
	}
}
.suscripcion{
	grid-area: suscripcion;
	margin-top: 25px;
	width: ($anchobc * 3) + 140px;
	background-color: $primary;
	p{
		padding: 5px;
		font-size: 30px;
		text-align: center;
		
	}
}
.footer {
	height: 150px;
	background-color: rgb(51, 45, 45);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.institucional {
	height: 30px;
	font-size: 15px;
	margin-right: auto;
	color: white;
	margin: 40px;
	text-align: left;
	ul {
		margin-left: 18px;
	}
}
.contacto {
	height: 30px;
	font-size: 15px;
	color: white;
	margin: 40px;
	ul {
		margin-left: 18px;
	}
}
.copyRight {
	font-size: 15px;
	color: white;
}
.redesSociales {
	font-size: 15px;
	color: white;
	margin-left: 60px;
}
.iconos {
	ul {
		li {
			display: inline;
			list-style-type: none;
			list-style: none;
			margin-left: 20px;
		}
	}
}
.twitter {
	width: 60px;
	height: 60px;
}
.facebook {
	width: 38px;
	height: 38px;
	margin-bottom: 4px;
}
.instagram {
	width: 32px;
	height: 32px;
	margin-bottom: 6px;
}
/*Media seccion productos, Iphone 6, 7, 8 and iphone X*/

@media only screen and (min-device-width: 250px) and (max-device-width: 812px) {
//main productos 
/*mainproductos*/ 
    .remerasFutbol {
		width: 65%;
		background-color: rgb(255, 255, 255);
		margin-left: 20px;
		margin-top: 15px;
		display: table-column;
		p {
			font-size: 50px;
			letter-spacing: 5px;
			color: black;
			font-weight: bold;
			margin-left: 260px;
			margin-top: 20px;
		}
	}
	.remerasFutbol1 {
		a {
			img {
				width: 400px;
				height: 400px;
				margin-top: 50px;
				margin-left: 210px;
				border: 2px solid black;
			}
		}
	}
	.remerasFutbol2 {
		a {
			img {
				width: 400px;
				height: 400px;
				margin-top: 50px;
				margin-left: 210px;
				border: 2px solid black;
			}
		}
	}
	.remerasFutbol3 {
		a {
			img {
				width: 400px;
				height: 400px;
				margin-top: 50px;
				margin-left: 210px;
				border: 2px solid black;
			}
		}
	}
	.filtros {
		width: 40%;
		p {
			font-size: 45px;
		}
	}
	.talles {
		li {
			a {
				font-size: 35px;
			}
		}
	}
	.equipos {
		li {
			a {
				font-size: 35px;
			}
		}
	}
    .pagination{
        font-size: 35px;
        margin-left: 1075px;
        margin-left: 650px !important;
    }
    //mainindex 
    /*mainindex*/
	.mainIndex {
		display: flex;
		flex-direction: column;
	}
	header {
		p {
			a {
				font-size: 30px;
			}
		}
		width: 127%;
	}
	h1 {
		font-size: 70px;
		margin-bottom: 70px;
	}
	.footer {
		width: 127%;
	}
	nav {
		width: 127%;
		height: 18rem;
	}
	.container {
		margin-left: 160px;
		margin-top: 30px;
		max-width: 720px;
		max-width: 1200px !important;
	}
	.submenu {
		ul {
			text-align: center;
			display: block;
			li {
				width: 100%;
				margin-left: -20px;
				margin-bottom: 10px;
				border-top: solid #332d2d 1px;
				a {
					font-size: 40px;
				}
			}
			ul {
				li {
					a {
						display: none;
					}
				}
			}
		}
	}
	.section1 {
		width: 100%;
		margin: 20px;
		margin-top: 80px;
		margin-left: 120px;
		.camisetas1 {
			font-size: 70px;
			font-weight: bold;
			color: firebrick;
			margin-left: 50px;
			margin-bottom: 120px;
			text-align: center;
		}
		ul {
			li {
				img {
					width: 200px;
					height: 200px;
					margin-left: 25px;
					margin-bottom: 100px;
				}
			}
		}
	}
	.section2 {
		width: 100%;
		height: auto;
		margin-left: 140px;
		text-align: center;
		a {
			img {
				width: 450px;
				height: 450px;
				margin: 15px;
				border-left: none;
			}
		}
	}
	.lasMasBuscadas {
		font-size: 55px;
		font-weight: bold;
		margin-bottom: 70px;
	}
	.section3 {
		width: 100%;
		height: auto;
		margin-top: 100px;
		.beneficios {
			font-size: 55px;
			font-weight: bold;
			text-align: center;
		}
		ul {
			text-align: center;
			li {
				display: block;
				font-size: 42px;
				margin-left: 0%;
				margin-right: 40px;
				margin-top: 80px;
			}
		}
	}
	.video1 {
		margin-left: 130px;
		video {
			width: 1000px;
			height: 800px;
		}
	}
	.video2 {
		margin-left: 130px;
		video {
			width: 1000px;
			height: 800px;
		}
	}
    //quienessomos?
    /*quienesomos?*/
	.mainQuienes {
		display: flex;
		flex-direction: column;
	}
	.quienesSomos {
		width: 127%;
		height: auto;
		border-right: none;
		border-bottom: solid firebrick 2px;
	}
	.conocenos {
		font-size: 65px;
		font-weight: bold;
	}
	.titulos {
		font-size: 55px;
	}
	.nosDefine {
		font-size: 45px;
	}
	.fundador {
		width: 127%;
		height: auto;
		border-left: none;
		border-top: solid firebrick 2px;
	}
	.tituloFundador {
		font-size: 65px;
	}
	.fotoCv {
		width: 650px;
		height: 400px;
		margin-left: 280px;
	}
	.cv {
		font-size: 45px;
		margin-left: 50px;
	}
	.nosDefineClub {
		font-size: 40px;
	}
//redessociales
/*redesociales*/
	.mainRedes-Sociales {
		display: flex;
		flex-direction: column;
		margin-left: 40px;
	}

	.parrafoR {
		.seguinos {
			font-size: 55px;
			text-align: center;
			margin-left: 150px;
		}
		.confianza {
			font-size: 40px;
			margin-top: 35px;
			text-align: center;
			margin-left: 150px;
		}
	}

	.iconosRedes {
		margin-left: 120px;
	}
	.suscripcion{
		width: ($anchobc * 2) - 150px ;
		background-color: $primary;
	}
//main contacto
/*main contacto*/
.textoRaro{
	margin-left: 240px;
}
.equipoClub{
	margin-left: 240px;
}
.messiSection{
	width: 600px;
	height: 1200px;
}
.contacto2{
	width: 600px;
}
}